<root>
	<filter name="테스트">
		<author>김계율</author>
	</filter>
	<filter name="테스트2">
		<title>하렘</title>
	</filter>
	<filter name="라노벨">
		<title>역시 내 청춘</title>
		<title>다시 한 번 만날 수</title>
		<title>내 여자친구와 소꿉친구</title>
		<title>단칸방의 침략자</title>
		<title>청춘 돼지는</title>
		<title>사랑에 빠진 메트로놈</title>
		<title>시원찮은 그녀를 위한</title>
	</filter>
</root>